@media (max-width:1115px) {
    .toggle-menu {
        display: block;
    }
    .nav-ul {
        display: none;
    }
    .fa-bag-shopping {
        display: none;
    }
    .nav-li {
        line-height: 10px;
        font-size: 30px; 
        margin-top: 30px;
        color: black;
        background-color: white;
    }
}
@media (max-width:600px) {
    h1, .half-logo  {
        font-size: 20px;
    }
    .col-2 h2 {
        font-size: 30px;
        line-height: normal;
    }
}
